#__ed-iframe-html
  background-color: #333333

#__ed-iframe-body
  overflow        : auto
  box-sizing      : border-box
  -moz-box-sizing : border-box
  border          : 1px solid #333333
  border-radius   : 5px 5px 5px 5px
  -moz-transition : border 0.2s linear 0s, box-shadow 0.2s linear 0s
  box-shadow      : inset 0px 0px 6px rgba(0, 0, 0, 0.8)
  position        : relative
  left            : 0px
  top             : 0px
  font            : normal 13px "Helvetica Neue", Arial, Helvetica, sans-serif
  color           : #8c9ea0
  background-color: #042029 //272822

#nav
  width            :200px
  height           :400px
  float            : right
  background-color : #282923
  opacity          : 0.5
  border           :1px solid #413838

p
  margin-top   : 0px
  margin-bottom: 0px
  margin-left  : 0px
  margin-right : 0px
  color        : #333055

dl
  margin       : 0
  padding      : 0

dt
  margin       : 0
  padding      : 0

ul, ol
  margin       : 3px 0 0 0
  padding      : 0
  list-style-type: none

li
  margin       : 0
  padding      : 0
  list-style-type: disc
  
dd
  margin-left  : 32px

.Lh-1
  margin-left  : 5px
  margin-top   : 0px

.Lh-2
  margin-left  : 20px
  margin-top   : 0px
  padding-top  : 0

.Lh-3
  margin-left  : 40px

.Lh-4
  margin-left  : 6px

.Lu-1
  margin-left  : 22px
  margin-top   : 0px

.Lu-2
  margin-left  : 40px
  margin-top   : 0px
  padding-top  : 0

.Lu-3
  margin-left  : 60px

.Lu-4
  margin-left  : 80px

.Lo-1
  margin-left  : 22px
  margin-top   : 0px

.Lo-2
  margin-left  : 40px
  margin-top   : 0px
  padding-top  : 0

.Lo-3
  margin-left  : 60px

.Lo-4
  margin-left  : 80px

.Tu-1
  margin-left  : 20px
  margin-top   : 2px
  display      : list-item

.Tu-2
  margin-left  : 40px
  margin-top   : 2px
  display      : list-item
  list-style-type:square

.Tu-3
  margin-left  : 60px
  display      : list-item

.Tu-4
  margin-left  : 80px
  display      : list-item
  list-style-type:circle

.Tu-5
  margin-left  : 100px
  display      : list-item

.Th-1
  padding-left     : 5px
  margin-left      : 0px
  margin-top       : 12px
  display          : list-item
  list-style-type  : none
  //background-color : #91A2C0
  border-radius    : 5px 5px 5px 5px
  color            : #fe9d41
  width            : 100%
  box-sizing       : border-box
  -moz-box-sizing  : border-box
  text-transform   : uppercase
  font-weight      : bold
  counter-increment : section1
  counter-reset     : section2 0
  counter-reset     : section3
  counter-reset     : section4
.Th-1:before
  content: counter(section1) " " attr(toDisplay)


.Th-2
  padding-left    : 20px
  margin-left     : 0px
  margin-top      : 5px
  color           : #52e3f6
  counter-increment: section2
  counter-reset: section3
  counter-reset: section4
.Th-2:before
  content: counter(section1) "." counter(section2) " " attr(toDisplay)

.Th-3
  padding-left    : 40px
  margin-left     : 0px
  margin-top      : 5px
  color           : #859900
  counter-increment: section3
  counter-reset: section4
.Th-3:before
  content: counter(section1) "." counter(section2) "." counter(section3) " " attr(toDisplay)

.Th-4
  padding-left    : 60px
  margin-left     : 0px
  margin-top      : 5px
  color           : #586408
  counter-increment: section4
.Th-4:before
  content: counter(section1) "." counter(section2) "." counter(section3) "." counter(section4) " " attr(toDisplay)


.vline_02
  margin-left  : 30px
  border       : 1px solid #DDDDDD
  width        : 10px
  height       : 100%
  position     : relative
  top          : 0

.Tu-1:before
  content: attr(toDisplay)

.Tu-2:before
  content: attr(toDisplay)

.Tu-3:before
  content: attr(toDisplay)

.Tu-4:before
  content: attr(toDisplay)

.Tu-5:before
  content: attr(toDisplay)

.Lu-1:before
  content: attr(toDisplay)

.Lu-2:before
  content: attr(toDisplay)

.Lu-3:before
  content: attr(toDisplay)

.Lu-4:before
  content: attr(toDisplay)

.Lo-1:before
  content: attr(toDisplay)

.Lo-2:before
  content: attr(toDisplay)

.Lo-3:before
  content: attr(toDisplay)

.Lo-4:before
  content: attr(toDisplay)

.Lh-1:before
  content: attr(toDisplay)

.Lh-2:before
  content: attr(toDisplay)

.Lh-3:before
  content: attr(toDisplay)

.Lh-4:before
  content: attr(toDisplay)

h1
  font-size    : 2em

h2
  font-size    : 1.5em

h3
  font-size    : 1.17em

h4
  font-size    : 1em

h5
  font-size    : .83em

h6
  font-size    : .75em

img
  border       : 0