
#main.table-ly-wrpr
  // boutons for the editor
  #divMainBtn.table-ly-hder
    #generalBtnBar.btn-group
      button#EmptyTextBtn.btn.btn-small.btn-primary Init texte vide  
      button#SimpleTextBtn.btn.btn-small.btn-primary Init texte simple
      button#FullTextBtn.btn.btn-small.btn-primary Init texte long
      button#logKeysBtn.btn.btn-small.btn-primary Log keystrokes
      button#logRangeBtn.btn.btn-small.btn-primary Log range
      button#printRangeBtn.btn.btn-small.btn-primary Print Range
      button#addClass2LineBtn.btn.btn-small.btn-primary Add Class on Lines
    //- div.btn-group
    //-   button.btn.dropdown-toggle(data-toggle="dropdown",href="#") Change content
    //-     span.caret
    //-   ul.dropdown-menu
    //-     li
    //-       a(href="#") one action
    //-     li
    //-       a(href="#") another action
    select#contentSelect
      option(value="content-full", style="display:block") Full note
      option(value="content-full-marker", style="display:block") Tout en puces
      option(value="content-shortlines-marker", style="display:block") Tout en puce, lignes courtes
      option(value="content-shortlines-all", style="display:block") Puces et titres, lignes courtes
      option(value="content-empty", style="display:block") Empty note
      option(value="content-full-relative-indent", style="display:block") Avec sommaire
    select#cssSelect
      option(value="images/editor2.css", style="display:block") css1
      option(value="stylesheets/app.css", style="display:block") css2

  #main-div.table-ly-ctnt
    #col-wrap
      #editor-col
        #well-editor.monWell
          #editorDiv.table-ly-wrpr
            // boutons for the editor
            .table-ly-hder
              #editorBtnBar.btn-group
                button#indentBtn.btn.btn-small.btn-primary Indent
                button#unIndentBtn.btn.btn-small.btn-primary Un-indent
                button#markerListBtn.btn.btn-small.btn-primary - Marker list
                button#titleBtn.btn.btn-small.btn-primary 1.1.2 Title
            // text for the editor
            #editorContent.table-ly-ctnt
              iframe#editorIframe
      #result-col
        #well-result.monWell
          #resultDiv.table-ly-wrpr
            .table-ly-hder
              #resultBtnBar.btn-group
                button#resultBtnBar_coller.btn.btn-small.btn-primary Coller
                button.btn.btn-small.btn-primary -
                button.btn.btn-small.btn-primary -
              p#editorPropertiesDisplay
            // text for the resulting html
            #resultContent.table-ly-ctnt
              textarea#resultText
          
