div.Tu-1
  span Tu-1...
  br
div.Tu-1
  span Tu-1...
  br
div.Lu-1
  span Lu-1
  br
// une lh ne peut pas descendre d'une Tu
div.Lh-1
  span Une ligne qui n'a pas le droit d'être ici car c'est une Lh
  br
div.Th-1
  span UN SUPER TITRE
  br