div.Tu-1
  span Une ligne Tu-1...
  br
div.Lu-1
  span Une ligne Lu-1
  br
div.Tu-2
  span Un sous-titre Tu-2
  br
div.To-2
  span Un sous-titre To-2
  br
// un titre Th ne peut pas descendre d'un Tu ou d'un To
div.Th-2
  span Un titre Th-2 qui n'a pas le droit d'être là
  br
div.Th-1
  span UN SUPER TITRE
  br