div.Th-1
  span Un premier titre
  br
div.Lh-1
  span.truc Une ligne Lh-1 
  span.bob ENCORE Une ligne Lh-1 Une ligne Lh-1
  a toto
  br
div.To-2
  span.bob azertyuiop
  span.bob m
  span Un second titre
  br