div.Th-1
  span Un premier titre
  br
div.Lh-1
  span Une ligne Lh-1 
  span ENCORE Une ligne Lh-1 Une ligne Lh-1
  a toto
  br
// and poof, an unknown label
div.To-2
  span azertyuiop
  span m
  label
  span Un second titre
  br