div.Th-1
  span Un premier titre
  br
div.Lh-1
  span.truc Une ligne Lh-1 
  span.bob ENCORE Une ligne Lh-1 Une ligne Lh-1
  a toto
  br
div.Tu-2
  span.bob azertyuiop
  span Un second titre
  br
div.Tu-3
  span.bob azertyuiop
  br
div.Lu-3
  span.truc Une ligne Lh-1 
  br
div.Lu-2
  span.truc Une ligne Lh-1 
  br
div.Lh-1
  span.truc Une ligne Lh-1 
  br
div.To-2
  span elt 1
  br
div.Lo-2
  span elt 1.1
  br
div.Lo-2
  span elt 1.2
  br
div.To-2
  span elt 3
  br
div.To-2
  span elt 4
  br
div.To-2
  span elt 5
  br
div.To-2
  span elt 6
  br