div.Th-1
  span Un premier titre
  br
div.Lh-1
  span.truc Une ligne Lh-1 
  span.bob ENCORE Une ligne Lh-1 Une ligne Lh-1
  a toto
  br
// an obvious issue of indentation
div.To-3
  span.bob azertyuiop
  span Un second titre
  br
div.Lh-2
  span.bob azertyuiop
  br
div.Lh-1
  span.truc Une ligne Lh-1 
  br