//premier titre
div.Tu-1
  span Tu-1
  br
div.Lu-1
  span Lu-1
  br
//second titre
div.Tu-1
  span Tu-1
  br
div.Lu-1
  span Lu-1
  br
div.Tu-2
  span Tu-2
  br
div.Lu-1
  span Lu-1
  br
//la div suivante ne peut pas être la fille du Tu-2 car un Lu-1 les sépare
div.Lu-2
  span Snif... je suis la ligne 7 et j'ai pas le droit d'être ici
  br
div.Th-1
  span Th-1
  br